
.title{
font-family: "Concert One";
src: local(Concert_One),url(../public/fonts/Concert_One/ConcertOne-Regular.ttf) format('truetype');
font-weight:normal;
font-style: normal;
padding: 30px;
text-decoration: none;
}

.title2{
    text-align: center;
    font-size:28px ;
    font-family:"Roboto";
    src: local(Roboto),url(../public/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    color: rgb(31, 29, 29);
    border: 1px solid black;
     
    
}

.list{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}


.login{
    background:#161616; 
    color:white; 
    margin-left: 1500px;
    padding: 8px 50px;
    margin-right: 450px;
    font-size:16px ;
    border-radius: 8px;

}




.img{
   position: relative;
   overflow: hidden;
   max-width: 100%;
   padding: 2px;
   
}

.img1{
  height: 450px;
  width: 950px;  
    
}

.img7{ 
    width: 575px;
    height: 950px;
    margin-left: 1250px;

}

.img2{
   width: 400px;
   height: 400px;
   
}
.img3{
    width: 275px;
   height: 275px; 
   
}

.img4{
    width: 275px;
    height: 275px;
}

.img5{
    width: 275px;
    height: 450px;
}

.img6{
    width: 600px;
    height: 300px;
}





.img8{ 
    width: 275px;
    height: 275px;
    
}



.footer{
    background-color: #161616;
    color: #FFFFFF;
text-decoration: none ;
    
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}
.item{
    width: 18px;
    height: 18px;
    padding: 30px ;
    margin-left: 50px;
    
}
.footer-item{
    margin-left: 90px;
    
}



.title-smaller{
    font-family: "Concert one";
    src: local(Concert_One) url(../public/fonts/Concert_One/ConcertOne-Regular.ttf)format('truetype');
    color: white;
    font-size: 18px;
    margin-left: 20px;
}

.title4{
    font-family:"Roboto";
    src: local(Roboto),url(../public/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    color: white;
    margin-right: 20px;
}


.container{
    display: flex;
align-items: center;
    text-decoration: none;
    
}





