
.title{
font-family: "Concert One";
src: local(Concert_One),url(../public/fonts/Concert_One/ConcertOne-Regular.ttf) format('truetype');
font-weight:normal;
font-style: normal;
}

.title2{
    text-align: center;
    font-size:28px ;
    font-family:"Roboto";
    src: local(Roboto),url(../public/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    color: rgb(31, 29, 29);
}


.login{
    background:#161616; 
    color:white; 
    border: 1px solid black; 
    margin-left: 1500px;
    padding: 8px 50px;
    margin-right: 450px;
    font-size:16px ;
    border-radius: 8px;
    margin-bottom: 20px;

}

ul{
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}



.img{
    margin: 8px;
}

.img1{
    width: 600px;
    height: 300px;
}



.img2{
   width: 275px;
   height: 275px; 
   
}
.img3{
    width: 275px;
   height: 275px; 
   margin-left:283px;
}

.img4{
    width: 275px;
    height: 275px; 
}

.img5{
    width: 275px;
    height: 450px;
}

.img6{
    width: 600px;
    height: 300px;
}


.img7{ 
    width: 275px;
    height: 450px;
}


.img8{ 
    width: 275px;
    height: 275px;
    
}



.main-footer{
    background-color: #161616;
    color: #FFFFFF;
    height: auto;
    width: auto;
    border-radius:2px ;
}

.main-footer-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: auto;
    height: auto;
    
}
.item{
    width: 18px;
    height: 18px;
    padding: 30px ;
    margin-left: 50px;
}
.footer-item{
    margin-left: 18px;
    text-decoration: none;
}



.title-smaller{
    font-family: "Concert one";
    src: local(Concert_One) url(../public/fonts/Concert_One/ConcertOne-Regular.ttf)format('truetype');
    color: white;
    font-size: 18px;
    margin-left: 20px;
}

.title4{
    font-family:"Roboto";
    src: local(Roboto),url(../public/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    color: white;
    margin-right: 20px;
}


.list-container{
    display: flex;
    align-items: center;
    justify-content:space-around;
}





